
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px ;
}

.profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid #333;
    box-shadow: 1px 1px 1px black;
}

.intro {
    max-width: 500px;
}

.small {
    font-size: 1rem;
    color: #888;
}

.highlight {
    color: #00aaff;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: #00aaff;
}

.description {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 20px;
}

/* Botões */
.buttons {

    gap: 15px;
    margin-bottom: 20px;

}

.btn {
    padding: 12px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #008ecc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn.outline {
    background-color: transparent;
    border: 2px solid #00aaff;
    color: #00aaff;
}

.btn.outline:hover {
    background-color: #00aaff;
    color: #fff;
}

/* Ícones sociais */
.social a {
    margin-right: 15px;
    font-size: 1.5rem;
    color: #ccc;
    transition: color 0.3s, transform 0.3s;
}

.social a:hover {
    color: #00aaff;
    transform: scale(1.1); /* Efeito de zoom */
}

