/* Media Query para telas grandes */
@media (min-width: 768px) {


   
    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        top: auto;
        right: auto;
        background-color: transparent;
        width: auto;
        border: none;
        padding: 10px;

    }

    .menu a {
        color: #fff;
        padding: 10px;
        display: inline-block;
        transition: color 0.3s;
    }

    .menu-icon {
        display: none; /* Esconde o ícone do menu hambúrguer em telas grandes */
    }

    nav ul {
        display: flex;
        gap: 20px;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        display: block;
    }

    nav a:hover {
        color: #00aaff;
    }

    .hero {
        gap: 40px; /* Reduz o espaçamento entre os elementos */
        margin-top: 120px;

    }

    .intro {
        text-align: left; /* No desktop, o texto dentro de 'intro' será alinhado à esquerda */
    }


    .profile-pic img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 8px solid #333;
        box-shadow: 1px 1px 1px black;
        margin-right: 50px;
    }
}